/* Navbar.css */
.navbar {
    width: 200px;
    height: 100vh;
    background-color: #522e38;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .profile {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .navbar .MuiListItem-root {
    display: flex;
    align-items: center;
  }
  
  .navbar .MuiListItem-root:hover {
    background-color: #f9bec7;
  }